doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    link(type='text/css', rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet", href='https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css', integrity='sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=', crossorigin='anonymous')
    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyCPpAL0Uixj3d104kr7uNL8JHZROovBL0s&callback=initMap&libraries=&v=weekly', defer)
    script(src='/js/index.js')
    title= title
  body
    .top-bar
      .top-bar-left
        ul(class='dropdown menu', data-dropdown-menu)
          li.menu-text Simple Text Editor
          li.has-submenu
            a(href='/about/') About
            ul(class= 'submenu menu vertical', data-submenu)
              li
                a(href='/about/#contact') Contact
      .top-bar-right
        ul.menu
          li
            input(type='search', placeholder='Search')
          li
            button(type='button', class="button") Search
      
    br
    article.grid-container
      div(class='grid-x cell')
        nav(aria-label='You are here:', role="navigation")
          ul.breadcrumbs
            li 
              a(href='/') Home
            li
              a(href='/') Arts
            li.disabled
              = title
            li
              span.show-for-sr Current:
                | Cloning
      div(class='grid-x grid-margin-x')
        div(class='medium-6 cell')
          img.thumbnail(src=previewImage)
          div(class='grid-x grid-padding-x small-up-4')
            .cell
              img(src=previewImage)
            .cell
              img(src=previewImage)
            .cell
              img(src=previewImage)
            .cell
              img(src=previewImage)
        div(class='medium-6 large-5 cell large-offset-1')
          h3= title
          p= author
          p= address
          div!= contents
      hr          
      ul(class='tabs', data-tabs, id='example-tabs')
        li(class='tabs-title is-active')
          a(href='#panel1', aria-selected='true') Location

      div(class='tabs-content', data-tabs-content='example-tabs')
        div(class='tabs-panel is-active', id='panel1')
          h4 Location
          div
            div(id="map", data-longitude= longitude, data-latitude= latitude)

      hr
        
      div(class='grid-x align-justify align-middle')
        div(class='small-12 medium-shrink cell')
          ul.menu
            li.align-self-middle Street Art Map
            li
              a(href='/') Home
            li
              a(href='/about/') About
        
        div(class='small-12 medium-shrink cell')
          |  Copyright 2021
    

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js')
    script
      | $(document).foundation();
